{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Questions</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-question" data-url="{% url 'question_create' %}">
      <span class="fa fa-plus"></span>
      New Question
    </button>
  </p>


  <table class="table" id="question-table">

    <thead>
      <tr>
        <th>Question</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% include 'questions/includes/partial_question_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-question">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}