{% extends 'base.html' %}
}


{% block content %}

    <div class="row col-sm-6">

    <form method='GET' action='' class="navbar-form navbar-left">
              <input type="text"  name='q' class="form-control" placeholder="Search..." value='{{ request.GET.q }}'/>
              <input class="btn-info" type='submit' value='Search' />
          </form>
</div>

<table class="table table-bordered table-hover table-striped table-condensed table-responsive">


  <tr class="info">
    <th>Username</th>
    <th>Fullname</th>
    <th>Email</th>
  </tr>
    {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.get_full_name }}</td>
    <td>{{ user.email }}</td>
  </tr>
{% endfor %}
</table>



{% endblock content %}